* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../image/34C8DCBD-CE13-4B68-A8CD-108EBA1A75BC.jpg");
}

.nav {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* line-height: 50px; */
    padding: 0 40px;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-btn {
    background-color: rgba(207, 203, 203, 0.5);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 12px;
    cursor: pointer;
    transition: background 0.2s;
    line-height: normal;
}
.logout-btn:hover {
    background-color: #495057;
}

.container {
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}